PORT=5000

NODE_ENV=development

FRONTEND_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:lAkFJbtomrJkOmkUZLuebUfoZUWTjUUt@shortline.proxy.rlwy.net:25731/railway

JWT_SECRET=fb03fe0bfeb23425f5f32c5b69d2b8a96d27362ce8ff6bf14485226331235e62
